.App {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  height: 40px;
  border: none;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
}

.search-button {
  min-height: 30px;
  background: lightblue;
  padding: 10px 20px;
  border-color: #0e1d36;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
}

.home-button {
  min-height: 30px;
  background: rgb(177, 172, 172);
  border-color: black;
  padding: 10px 20px;
  margin-right: 80px;
  font-size: large;
  font-weight: bold;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
